.section{
	display:flex;
	flex-direction:row;
	margin:10px;
	padding:10px;
	
}
.img-sec{
	display:flex;
	margin:10px;
	justify-content:space-evenly;
	align-items:center;
}
.pd{
	margin:30px;
	font-size:10px;
}

.personal{
	display:flex;
	flex-direction:row;
	font-size:10px;
}
.head{
	font-weight:700;
}
.personal>p{
	margin-left:3px;
	margin-top:-2px;
}

.range{
	background-color:#CDE1F8;
		width:100%;
	height:3px;
}
.sub-range{
	background-color:#0C78FF;
		width:80%;
	height:3px;
	margin-top:-10px;
}
.left{
	width:50%;
}
.about-me{
	width:60%;
	font-size:13px;
	margin-left:15px;
}
.skills{
	font-size:11px;
	margin:px;
}
.sub-skills{
	display:flex;
	justify-content:space-between;
}